@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
  to bottom,
  transparent,
  rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}


/****************************FUNCTIONS AND DIRECTIVES***************************/

/*******************TAG SELECTORS******************/

@layer base {
  h1 {
    @apply text-green-300 text-3xl font-mono mx-auto;
  }
  h2 {
    @apply text-red-500;
  }
  h3 {
    @apply text-lime-200 font-sans;
  }
  a {
    @apply text-cyan-300 underline
  }
}

/*******************CLASS SELECTORS******************/

@layer components {
  .btn-primary {
    @apply py-[0.25px] px-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

.div-main {
  @apply bg-slate-700 divide-slate-500 text-center mx-auto min-h-screen
}

.top-cloud {
  @apply absolute left-[300px] 
}

.bot-cloud {
  @apply absolute right-[300px] 
}

.my-hrule {
  @apply border-dotted border-b-8 w-20 mx-auto py-4
}

.hover-x {
  @apply hover:bg-violet-600 mx-auto;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 700px;
  aspect-ratio: 70/45;
  margin: 2rem auto;
}

.skills {
  @apply pt-6
}

/******************ID SELECTORS******************/

#str-head {
  @apply text-purple-700;
}
