@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
  to bottom,
  transparent,
  rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}


/****************************FUNCTIONS AND DIRECTIVES***************************/

/*******************TAG SELECTORS******************/

@layer base {
  h1 {
    @apply text-green-300 font-mono;
  }
  h3 {
    @apply text-lime-200 font-sans;
  }
}

/*******************CLASS SELECTORS******************/

.my-hrule {
  @apply border-dotted border-b-8 w-20 mx-auto
}

.hover-x {
  @apply hover:bg-violet-600;
}


/******************ID SELECTORS******************/

#str-head {
  @apply text-purple-700;
}
