@tailwind components;
@tailwind utilities;

h1 {
  @apply text-[#EEEDED];
}

h3 {
  @apply font-diphylleia lg:text-[1.37rem] text-[1.19rem];
}

@layer components {
  .features-box {
    @apply mb-4 pb-[5%];
  }

  .testimonial-image {
    @apply w-[10%];
  }

  .press-logo {
    @apply w-[15%];
  }

  .card {
    background-color: theme('colors.onyx');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }

  .card-nested {
    @apply max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700;
  }

  .card-more {
    @apply inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }

  .cta-heading {
    @apply font-diphylleia text-[3.5rem] leading-normal max-sm:text-[1.7rem] mb-4;
  }

  .socials {
    @apply mx-2;
  }

  .p-default {
    @apply px-[15%] py-[7%];
  }

  #cta {
    @apply bg-slate-600 text-[#FFF] text-center;
  }

  #cta .p-default {
    @apply px-[13%] py-[7%];
  }

  #features {
    @apply px-[15%] p-default text-center;
  }

  #title {
    @apply bg-[#252B48];
  }

  #testimonials {
    @apply p-default text-center bg-slate-700;
  }

  #press {
    @apply bg-slate-700 text-center pb-[3%];
  }

  #footer {
    @apply p-default text-center;
  }
}

@layer utilities {
  .sliderCtr {
    @apply flex justify-center m-0 p-0 items-center bg-[#334155] md:h-[41rem];
  }

  .slider {
    @apply max-md:w-[400px] max-md:h-[250px] w-[800px] h-[500px] rounded-[10px] overflow-hidden;
  }

  .slides {
    @apply flex w-[500%] h-[500px];
  }

  .slides input {
    @apply hidden;
  }

  .slide {
    @apply w-[20%] duration-[2000ms]; /* Unsure what 'transition' prop is `transition: 2s` */
  }

  .slide img {
    @apply w-[800px] h-[500px] max-md:w-[400px] max-md:h-[250px];
  }

  /** Manual Navigation **/
  .navigation-manual {
    @apply flex absolute w-[800px] max-md:w-[400px] max-md:-mt-[275px] -mt-[40px] justify-center z-10 md:-mt-[5rem];
  }

  .manual-btn {
    @apply rounded-[10px] border-solid border-[#40D3DC] p-[5px] border-2 cursor-pointer duration-1000 md:p-[0.37rem] lg:p-[0.41rem];
  }

  .manual-btn:not(:last-child) {
    @apply mr-[40px];
  }

  .manual-btn:hover {
    @apply bg-[#40D3DC]
  }

  #radio1:checked ~ .first {
    @apply ml-0;
  }

  #radio2:checked ~ .first {
    @apply -ml-[20%];
  }

  #radio3:checked ~ .first {
    @apply -ml-[40%];
  }

  #radio4:checked ~ .first {
    @apply -ml-[60%];
  }

  /** Auto Navigation **/
  .navigation-auto {
    @apply absolute flex w-[800px] max-md:w-[400px] max-md:mt-[225px] justify-center mt-[460px] z-10 md:mt-[27.5rem];
  }

  .navigation-auto div {
    @apply absolute md:bottom-5 relative border-2 border-solid border-[#40D3DC] p-[5px] md:p-[0.37rem] lg:p-[0.41rem] rounded-[10px] duration-1000;
  }

  .navigation-auto div:not(:last-child) {
    @apply mr-[40px];
  }

  #radio1:checked ~ .navigation-auto .auto-btn1 {
    @apply bg-[#40D3DC];
  }

  #radio2:checked ~ .navigation-auto .auto-btn2 {
    @apply bg-[#40D3DC];
  }

  #radio3:checked ~ .navigation-auto .auto-btn3 {
    @apply bg-[#40D3DC];
  }

  #radio4:checked ~ .navigation-auto .auto-btn4 {
    @apply bg-[#40D3DC];
  }

  .card-title {
    @apply mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white;
  }

  .card-content {
    @apply mb-3 font-normal text-gray-700 dark:text-gray-400; 
  }
}
